<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @device.code %>
</p>

<p>
  <strong>Local:</strong>
  <%= @device.local %>
</p>

<p>
  <strong>Device category:</strong>
  <%= @device.device_category %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
